/* CheckoutSteps.css */
.nav-link-dark {
    color: #343a40 !important; /* Bootstrap's dark color */
  font-weight: 430;
}

.nav-link-dark.disabled {
    color: #6c757d !important; /* Bootstrap's secondary color for disabled links */
}
